@font-face {
    font-family: "Gothic";
    src: url(../../fonts/LeagueGothic-Regular.otf) format('opentype');
}

.wholeContact{
    background: linear-gradient(rgba(222, 255, 218, 0.9), rgba(222, 255, 218, 0.9)), url("../../img/Drip_Logo_Pattern.jpg");
    background-color: #DEFFDA;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .BGPattern{
    position: relative;
} */


.ContactTitle{
    font-family: "Gothic";
    text-align: center;
    font-size: 50px;
}

.InputArea{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.InputArea input{
    margin: 20px;
    font-size: 30px;
}

.InputArea div{
    font-family: "Gothic";
    font-size: 30px;
    margin-left: 20px;
}

.InputArea textarea{
    margin: 20px;
    font-size: 30px;
    font-family: sans-serif;
    height: 90px;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 5px;
}

.InputBtn{
    margin: 20px;
    border: none;
    border-radius: 20px;
    font-family: "Gothic";
    font-size: 50px;
    background-color: #091E05;
    color:#FAF8F1;
}

.InputBtn:hover{
    background-color: #FAF8F1;
    color:#091E05;
}

.SocialTitle{
    font-family: "Gothic";
    text-align: center;
    font-size: 50px;
}

.SocialLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.FBLogo{
    padding: 20px;
    transition: transform 0.2s ease-in-out;
}

.FBLogo:hover{
    transform: translateY(-2px);
}

.IGLogo{
    padding: 20px;
    transition: transform 0.2s ease-in-out;
}

.IGLogo:hover{
    transform: translateY(-2px);
}

@media only screen and (min-width: 900px){
    .InputArea{
        border: none;
        padding: 10px;
        padding-left: 150px;
        padding-right: 150px;
        border-radius: 50px;
        background: linear-gradient(rgba(102, 238, 81, 0.9), rgba(41, 191, 18, 0.9)), url("../../img/Drip_Logo_Pattern.jpg");
        box-shadow: 0 5px 15px rgba(0,0,0,1);
    }
    .InputArea input{
        width: 500px;
    }
}