@font-face {
    font-family: "Horizon";
    src: url(../../fonts/horizon.otf) format('opentype');
}


.WholeFooter{
    margin:0;
    padding: 0%;
    background-color: #091E05;
}

.FooterGrid{
    padding: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FooterTitle{
    font-family: "Horizon";
    font-size: 20px;
    text-decoration: none;
    color:#FAF8F1;
}

.FooterTitle:hover{
    color: #8a8a8a;
}

.FooterSecondaryGrid{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FooterBtn{
    font-family: "Horizon";
    font-size: 40px;
    text-decoration: none;
    color: #29BF12;
}

.FooterBtn:hover{
    color:#FAF8F1;
}