@font-face {
    font-family: "Horizon";
    src: url(../../fonts/horizon.otf) format('opentype');
}


.WholeFooter{
    margin:0;
    padding: 0%;
    background-color: #091E05;
}

.FooterGrid{
    padding: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FooterTitle{
    font-family: "Horizon";
    font-size: 20px;
    text-decoration: none;
    color:#FAF8F1;
}

.FooterLogo{
    width: 0px;
}

.FooterTitle:hover{
    color: #8a8a8a;
}

.FooterSecondaryGrid{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FooterBtn{
    font-family: "Horizon";
    font-size: 40px;
    text-decoration: none;
    color: #29BF12;
}

.FooterBtn:hover{
    color:#FAF8F1;
}

@media only screen and (min-width: 900px){
    .FooterGrid{
        flex-direction: row;
        justify-content: space-around;
    }
    
    .FooterTitle{
        font-size: 40px;
        display: flex;
        align-items: center;
    }

    .FooterLogo{
        width:50px;
        padding-right: 10px;
    }
    .FooterSecondaryGrid{
        padding: 20px;
        border-left: #FAF8F1 solid;
    }

    .FooterBtn{
        padding: 10px;
    }

    .FooterBtn:hover{
        background-color: #29BF12;
        color:#FAF8F1;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}