.WholeFooter{
    margin:0;
    padding: 0%;
    background-color: #29BF12;
}

.FooterGrid{
    padding: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FooterTitle{
    font-size: 40px;
    text-decoration: none;
    color: black;
}

.FooterSecondaryGrid{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FooterBtn{
    font-size: 40px;
    text-decoration: none;
    color: black;
}