@font-face {
    font-family: "Horizon";
    src: url(../../fonts/horizon.otf) format('opentype');
}

.WholeNavBar{
    margin:0;
    padding: 0%;
    background-color: #091E05;
}

.NavbarGrid{
    padding: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NavbarTitle{
    font-family: "Horizon";
    font-size: 20px;
    text-decoration: none;
    color:#FAF8F1;
}

.MainLogo{
    width: 0px;
}

.NavbarTitle:hover{
    color: #8a8a8a;
}

.NavbarBtn{
    font-family: "Horizon";
    font-size: 40px;
    text-decoration: none;
    color: #29BF12;
}

.NavbarBtn:hover{
    color:#FAF8F1;
}

@media only screen and (min-width: 900px){
    .NavbarGrid{
        padding: 20px;
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    .NavbarTitle{
        display: flex;
        font-size: 40px;
        padding-right: 170px;
    }

    .MainLogo{
        width: 30px;
        height: 100%;
        padding-right: 10px;
    }

    .NavbarBtn{
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .NavbarBtn:hover{
        background-color: #29BF12;
        color:#FAF8F1;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}