@font-face {
    font-family: "Horizon";
    src: url(../../fonts/horizon.otf) format('opentype');
}

.WholeNavBar{
    margin:0;
    padding: 0%;
    background-color: #091E05;
}

.NavbarGrid{
    padding: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NavbarTitle{
    font-family: "Horizon";
    font-size: 20px;
    text-decoration: none;
    color:#FAF8F1;
}

.NavbarTitle:hover{
    color: #8a8a8a;
}

.NavbarBtn{
    font-family: "Horizon";
    font-size: 40px;
    text-decoration: none;
    color: #29BF12;
}

.NavbarBtn:hover{
    color:#FAF8F1;
}